<template>
<div>
    <div id="new"v-bind:class="{ occult: isNew}">
        <form @submit.prevent="submit" class="form-inline">
            <label class="mr-sm-2" for="inlineFormInput">New Category:</label>
            <input v-model="denomination" type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Set Denomination" required>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <!-- Form update -->
    <div id="edit" v-bind:class="{ occult: isEdit}">
        <form @submit.prevent="submitUpdate" class="form-inline">
            <label class="mr-sm-2" for="editinlineFormInput">Edit Category:</label>
            <input v-model="denomination" type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="editinlineFormInput" required>
            <div class="btn-group float-right" role="group" aria-label="Basic example">
                <button type="submit" class="btn btn-primary">Update</button>
                <button v-on:click="getAll" type="button" class="btn btn-secondary">Cancel</button>
            </div>
        </form>
    </div>

    <br>
    <div>
        <table class="table table-sm">
            <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th>Denomination</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(category, index) in categories">
                <th scope="row">{{ index + 1 }}</th>
                <td>{{ category.denomination }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button title="Edit" v-on:click="edit(category.id, category.denomination )" type="button" class="btn btn-info"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                        <button title="Delete" v-on:click="erase(category.id)" type="button" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</template>
<script>
export default{
    //name: 'categories',
    props: ['user'],
    data() {
      return {
          categories: [],
          denomination: '',
          editId: '',
          isNew: false,
          isEdit: true
      }
    },
    created: function () {
        this.getAll();

    },
    methods: {
        getAll: function () { // funcion que devuelve todas la categoris de un usuario
            this.isNew = false;
            this.isEdit = true;
            axios.get('/api/categories')
                .then(response => {
                    this.categories = response.data.filter(category => category.user_id === this.user);
                });
        },
        submit: function () { // funcion que crea una nueva categoria
            axios.post('/api/categories', {
                denomination: this.denomination,
                user_id: this.user
            });
            setTimeout(this.getAll, 1000)

        },
        edit: function (dId, deno) { // funcion que selecciona una categoria a editar
            this.isNew = true; // Hide new category form
            this.isEdit = false; // Show form to edit category
            this.denomination = deno; // Set denomination of category to edit
            this.editId = dId; // Set id category to edit
        },
        submitUpdate: function () { // funcion que actualiza la categoria editada
            axios.put('/api/categories/'+ this.editId, {
                denomination: this.denomination,
                user_id: this.user
            });
            this.denomination = '';
            setTimeout(this.getAll, 1000);
            this.$bus.$emit('refresh')

        },
        erase: function (eId) { // funcion que elimina la categoria selecccionada
            axios.delete('/api/categories/' + eId)
                .then(function (response) {
                    console.log(response);
                });
            setTimeout(this.getAll, 1000)
        }
    }
}
</script>