<template>
    <div>
        <table class="table table-sm">
            <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th>Denomination</th>
                <th>User Name</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(category, index) in categories">
                <th scope="row">{{ index + 1 }}</th>
                <td>{{ category.denomination }}</td>
                <td>{{ category.username }}</td>
            </tr>
            </tbody>
        </table>
    </div>

</template>
<script>
export default{
    //name: 'categories',
    data() {
      return {
          categories: [],
      }
    },
    created: function () {
        this.getAll();

    },
    methods: {
        getAll: function () { // funcion que devuelve todas la categorias
            axios.get('api/categories')
                .then(response => {
                    this.categories = response.data;
                }).catch(function (error) {
                console.log(error);
            });
        }
    }
}
</script>