<template>
<div>
    <table class="table table-sm">
        <thead class="thead-inverse">
        <tr>
            <th>#</th>
            <th>Subject</th>
            <th>Category</th>
            <th>Type</th>
            <th>Amount</th>
            <th>Date</th>
            <th>User Name</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(transaction, index) in transactions">
            <th scope="row">{{ index + 1 }}</th>
            <td>{{ transaction.subject }}</td>
            <td>{{ transaction.category }}</td>
            <td>{{ transaction.type }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{{ transaction.created_at }}</td>
            <td>{{ transaction.username }}</td>
        </tr>
        </tbody>
    </table>
</div>
</template>
<script>
export default{
    //name: 'transactions',
    data() {
      return {
          transactions: [],
      }
    },
    created: function () {
        this.getAll();
    },
    methods: {
        getAll: function () { // Funcion que devuelve todas las transacciones

            axios.get('api/transactions')
                .then(response => {
                    this.transactions = response.data;
                }).catch(function (error) {
                console.log(error);
            });
        }
    }
}
</script>