<template>
<div>
    <div id="new" v-bind:class="{ occult: isNew}">
        <form @submit.prevent="submit">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-2 col-form-label" for="subjectInlineFormInput">Subject:</label>
                        <div class="col-10">
                            <input v-model="subject" type="text" class="form-control" id="subjectInlineFormInput" placeholder="Set subject" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-4 col-form-label" for="categoryInlineFormCustomSelect" >Category</label>
                        <div class="col-8">
                            <select  v-model="category" class="custom-select" id="categoryInlineFormCustomSelect" required>
                                <option v-for="item in categories" v-bind:value="item.id"> {{ item.denomination}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-4 col-form-label" for="typeInlineFormCustomSelect">Type</label>
                        <div class="col-8">
                            <select v-model="type" class="custom-select" id="typeInlineFormCustomSelect" required>
                                <option value="deposit">Deposit</option>
                                <option value="withdrawal">Withdrawal</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-2 col-form-label" for="amountInlineFormInput">Amount:</label>
                        <div class="col-10">
                            <input v-model="amount" type="number" step="0.01" class="form-control" id="amountInlineFormInput" required>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="btn-group float-right" role="group" aria-label="Basic example">
                <button type="submit" class="btn btn-primary float-right">Submit</button>
                <button v-on:click="getAll" type="button" class="btn btn-secondary">Reset</button>
            </div>
        </form>
    </div>
    <!-- Form update -->
    <div id="edit" v-bind:class="{ occult: isEdit}">
        <form @submit.prevent="submitUpdate">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-2 col-form-label" for="editsubjectInlineFormInput">Subject:</label>
                        <div class="col-10">
                            <input v-model="subject" type="text" class="form-control" id="editsubjectInlineFormInput" required>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-4 col-form-label" for="editcategoryInlineFormCustomSelect" >Category</label>
                        <div class="col-8">
                            <select  v-model="category" class="custom-select" id="editcategoryInlineFormCustomSelect" required>
                                <option v-for="item in categories" v-bind:value="item.id"> {{ item.denomination}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-4 col-form-label" for="edittypeInlineFormCustomSelect">Type</label>
                        <div class="col-8">
                            <select v-model="type" class="custom-select" id="edittypeInlineFormCustomSelect" required>
                                <option value="deposit">Deposit</option>
                                <option value="withdrawal">Withdrawal</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-2 col-form-label" for="editamountInlineFormInput">Amount:</label>
                        <div class="col-10">
                            <input v-model="amount" type="number" step="0.01" class="form-control" id="editamountInlineFormInput" required>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="btn-group float-right" role="group" aria-label="Basic example">
                <button type="submit" class="btn btn-primary">Update</button>
                <button v-on:click="getAll" type="button" class="btn btn-secondary">Cancel</button>
            </div>
        </form>
    </div>
    <br>
    <br>
    <div>
        <div class="card">
            <div class="card-block">
                <div class="row">
                    <div class="col-md-6">
                        <form @submit.prevent="submitFilter" class="form-inline" >
                            <label class="mr-sm-2" for="filterinlineFormCustomSelect">Date filter: </label>
                            <select v-model="filter" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="filterinlineFormCustomSelect" required>
                                <option value="7">last 7 days</option>
                                <option value="30">last 30 days</option>
                                <option value="365">last year</option>
                            </select>
                            <div class="btn-group float-right" role="group" aria-label="Basic example">
                                <button title="Filter" type="submit" class="btn btn-primary"><i class="fa fa-filter" aria-hidden="true"></i></button>
                                <button title="Reset" v-on:click="getAll" type="button" class="btn btn-secondary"><i class="fa fa-repeat" aria-hidden="true"></i></button>
                            </div>
                        </form>
                    </div>
                    <div v-bind:class="{ occult: show}" id="total">
                        <div class="col-md-6">
                            <table class="table table-sm">
                                <thead>
                                <tr>
                                    <th>Total Deposit</th>
                                    <th>Total Withdrawal</th>
                                    <th>Balance</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{ total_deposit }}</td>
                                    <td>{{ total_withdrawal }}</td>
                                    <td>{{ balance }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div>
        <table class="table table-sm">
            <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th>Subject</th>
                <th>Category</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(transaction, index) in transactions">
                <th scope="row">{{ index + 1 }}</th>
                <td>{{ transaction.subject }}</td>
                <td>{{ transaction.category }}</td>
                <td>{{ transaction.type }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.created_at }}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button title="Edit" v-on:click="edit(transaction.id, transaction.subject, transaction.category_id, transaction.type, transaction.amount)" type="button" class="btn btn-info"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                        <button title="Delete" v-on:click="erase(transaction.id)" type="button" class="btn btn-danger"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</template>
<script>
export default{
    //name: 'transactions',
    props: ['user'],
    data() {
      return {
          transactions: [],
          categories: [],
          subject: '',
          amount: '',
          type: '' ,
          category: '',
          filter: '',
          editId: '',
          balance: '',
          total_deposit: '',
          total_withdrawal:'',
          isNew: false,
          isEdit: true,
          show: true
      }
    },
    created: function () {
        this.getAll();
        this.$bus.$on('refresh', () => {
            setTimeout(this.getAll, 1000);
        });
    },
    methods: {
        getAll: function () { // Funcion que devuelve todas las transacciones de un usuario
            this.isNew = false;
            this.isEdit = true;
            this.subject = '';
            this.amount = '';
            this.type = '';
            this.category = '';
            this.filter = '';
            this.editId = '';
            this.show = true;
            axios.get('api/transactions')
                .then(response => {
                    this.transactions = response.data.filter(transaction => transaction.user_id === this.user);
                }).catch(function (error) {
                console.log(error);
            });
            axios.get('api/categories')
                .then(response => {
                    this.categories = response.data.filter(categories => categories.user_id === this.user);
                }).catch(function (error) {
                console.log(error);
            });
        },
        submit: function () { // funcion que crea una nueva transaccion
            axios.post('/api/transactions',{
                subject: this.subject,
                amount: this.amount,
                type: this.type ,
                category_id: this.category,
                user_id: this.user
            });
            setTimeout(this.getAll, 1000);

        },
        edit: function (Id, sub, cat, typ,amo) { // funcion que selecciona la transaccion a editar
            this.isNew = true; // Hide new transaction form
            this.isEdit = false; // Show form to edit transaction
            this.subject = sub;
            this.amount = amo;
            this.type = typ;
            this.category = cat;
            this.editId = Id; // Set id transaction to edit
            console.log()
        },
        submitUpdate: function () { // funcion que actualiza la transacciion editada
            axios.put('/api/transactions/'+ this.editId, {
                subject: this.subject,
                amount: this.amount,
                type: this.type ,
                category_id: this.category,
                user_id: this.user
            });
            this.denomination = '';
            setTimeout(this.getAll, 1000);
        },
        erase: function (eId) { //  funcion que borra una transaccion
            axios.delete('/api/transactions/' + eId)
                .then(function (response) {
                    console.log(response);
                });
            setTimeout(this.getAll, 1000);
        },
        submitFilter: function () { // funsion que filtar las transacciones por dias y emite el balance de un usuario
            console.log(this.filter);

            axios.get('api/dayfilter/' + this.filter + '/' + this.user )
                .then(response => {
                    console.log(response.data);
                    this.balance = response.data[0].balance;
                    this.total_deposit = response.data[0].total_deposit;
                    this.total_withdrawal = response.data[0].total_withdrawal;
                    response.data.shift();
                    this.transactions = response.data;
                }).catch(function (error) {
                console.log(error);
            });
            this.show = false;
        }
    }
}
</script>